header {
    background-color: #008b8b;
    justify-content: space-evenly;
}

#Navbar {
    display: flex;
    justify-content: space-between;
}
#Navbar>a:last-child {
    min-height: 24px;
    min-width: 55px;
    flex-wrap: nowrap;
}

/* Specify the middle elements of the nav bar */
/* #Navbar>*:not(:first-child):not(:last-child) {
    justify-content: space-evenly;
} */

#Navbar>a>img {
    background-color: #ffffff00;
    border: none;
    max-width: auto;
    min-height: 50px;
    padding: 0 0 0 4%;
}

#Navbar:last-child {
    padding-right: 4%;
}

#Navbar>a:first-child {
    background-color: #ffffff00;
    border: none;
}

#Navbar>* {
    display: flex;
    align-self: center;
    padding: 5px 8px;
    border: 2.5px black;
    border-radius: 5px;
    background-color: #E49B0F;
    color: #ffffff;

}

#Navbar>*:hover {
    background-color: #b47a0c;
}

#Navbar>a>img:hover {
    background-color: #ffffff00;
    border: none;
    max-height: 85px;
    padding: 0 0 0 4%;

}

/* TODO: Media Queries For mobile burger menu */

@media (max-width: 512px) {
    body {
        background-color: red;
    }

}