.spacer {
    height: 750px;
    background-color: antiquewhite;
}

.info {
    margin: 0 150px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 950px) {
    .info {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}